@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  height: fit-content;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body,
#root {
  margin: 0;
}

button {
  background-color: white;
  outline: none;
  border: 1px solid grey;
  transition: all 0.5s;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;

  transition: all 0.3s;
}
