@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  height: fit-content;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body,
#root {
  margin: 0;
}

a:hover {
  color: inherit !important;
  text-decoration: none !important;
}
