/* add new family member user interface */
/* Also applies to edit */

.create-form {
  display: none;
  width: 340px;
  max-height: 575px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 20px -10px #000;
  padding: 20px 30px;
  position: absolute;
  top: 10vh;
  left: calc(50vw - 167.5px);
  z-index: 1000;
}
.create-form-title {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  border-bottom: 3px solid #78788c;
  color: #000;
}

.create-form-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
.create-form-section:before {
  content: attr(type);
  display: block;
  margin: 14px 0 0;
  font-size: 14px;
  color: #000;
}

.create-form-radio-option {
  margin: 5px 0;
}

.create-form > #save {
  float: right;
}
.create-form > #cancel {
  float: left;
  border: rgb(255, 100, 100) 2px double;
  background-color:rgb(255, 130, 130);
}

#deleteNode:hover,
#cancel:hover {
  background: #ff7474;
  color: white;
}

/* relationship selection */

.create-form-relationship {
  display: none;

  align-items: center;
  background: #eee;
  border: 1px solid lightgrey;
  border-radius: 9999px;
  justify-content: center;
  margin: 20px auto;
  max-width: 400px;
  overflow: hidden;
  padding: 4px;
  position: relative;
}

.create-form-relationship > * {
  padding: 0px 15px 0px 15px;
}

.create-form-checkbox {
  position: relative;
  width: 50px;
  height: 25px;
  -webkit-appearance: none;
  background: #c6c6c6;
  border-radius: 100px;
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
input:checked[type="checkbox"] {
  background: #03a9f4;
}
.create-form-checkbox::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.5s;
}

.create-form-checkbox:checked[type="checkbox"]::before {
  left: 50%;
}

.create-form-button {
  padding: 4px 12px;
  transition: all 0.3s;
}

.create-form-button:hover {
  color: white;
  cursor: pointer;
  background-color: black;
  transition: all 0.3s;
}

#create-datalist {
  width: 95%;
}
