.edit-container {
  display: none;
  position: absolute;
  top: 10vh;
  left: calc(50%);
  z-index: 1000;

  flex-direction: column;
  width: 340px;
  max-height: 600px;
  background: #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 0 40px -10px #000;
  padding: 20px 30px;
}

.form-header {
  padding: 5px;
  font-weight: 600;
}

.extra-details-label {
  text-align: left;
  width: 100%;
  padding: 10px 0px;
  pointer-events: none;
}

.extra-details-input {
  padding: 10px;
  font-size: 18px;
  background: none;
  outline: none;
  resize: none;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border: 2px solid #bebed2;
}

.description-input {
  font-size: 14px;
  height: 200px;
  flex-grow: 1.5;
}

.edit-container-submit {
  margin: 10px 0;
}
