/* add new family member user interface */
/* Also applies to edit */

#editForm,
#deleteConfirmMenu {
  display: none;
  width: 340px;
  min-height: 100px;
  max-height: 600px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 10vh;
  left: calc(50% - 200px);
  z-index: 1000;
}
#editForm > h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  border-bottom: 3px solid #78788c;
  color: #000;
}
#editForm > p > input,
#deleteTextbox {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
#editForm > input:focus,
#deleteTextbox:focus {
  border-bottom: 2px solid #78788c;
}
#editForm > p:before {
  content: attr(type);
  display: block;
  margin: 14px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

#editForm > #save {
  float: right;
}
#editForm > #cancel {
  float: left;
  border: rgb(255, 100, 100) 2px double;
}

#deleteNode {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid#ff4242;
  background: 0;
  color: #ec5757;
  cursor: pointer;
  transition: all 0.3s;
}

#deleteNode:hover, #cancel:hover {
  background: #ff7474;
  color: white;
}

/* delete confirmation menu */

#deleteButtonContainer {
  display: flex;
  flex-wrap: nowrap;
}

#deleteButtonContainer > * {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#deleteConfirmMenu {
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#deleteConfirmMenu > * {
  text-align: center;
  width: 100%;
}

/* relationship selection */

.radio-toggles {
  align-items: center;
  background: #eee;
  border: 1px solid lightgrey;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 400px;
  overflow: hidden;
  padding: 4px;
  position: relative;
}
label {
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  width: 33.33%;
  z-index: 2;
}
.slide-item,
.slide-item-2 {
  background: white;
  border-radius: 9999px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  height: calc(100% - 8px);
  left: 4px;
  position: absolute;
  width: 50%;
  transition: left 0.4s;
  z-index: 0;
}
input[type="radio"] {
  left: 4px;
  position: absolute;
  z-index: -1;
}
#option-1:checked ~ .slide-item {
  left: 4px;
}
#option-2:checked ~ .slide-item {
  left: 165px;
}

#create-option-1:checked ~ .slide-item-2 {
  left: 4px;
}
#create-option-2:checked ~ .slide-item-2 {
  left: 165px;
}
