/* add new family member user interface */
/* Also applies to edit */

.form {
  display: none;
  overflow: auto;
  position: absolute;
  max-height: 80vh;
  min-width: 250px;
  width: 500px;
  max-width: 90vw;

  top: 50px;
  left: calc(50vw - 250px);
  z-index: 1000;

  background: #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 0 40px -10px #000;
  padding: 25px;
}

.birthdate-input-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
}
.birthdate-input{
  width: 75px;
}

#parentSearchDataList {
  width: 100%;
  transform: translate(-40px, 0);
}

.editmenu-parents-display-child{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(122, 122, 122);
}

.editmenu-parents-display-header{
  display: flex;
}

.editmenu-parents-cancel{
  margin-left: auto;
  font-size: 36px;
  transform: translateY(-15px);
  height: 25px;
  cursor: pointer;
  user-select: none;
}

.edit-header {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  border-bottom: 3px solid #78788c;
  color: #000;
}
.dropdownmenu{
  width: auto;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  margin: 10px 0;

  padding: 10px;
}
.dropdownmenu-info{
  display: flex;
  cursor: pointer;
  height: 20px;
}
.dropdownmenu-title{
  width: 95%;
  pointer-events:none;
}
.dropdownmenu-icon{
  font-size: 30px;
  transform: translateY(-12.5px);

  font-weight: bold;
  user-select: none;
  pointer-events:none;
}
.dropdownmenu-cancel{
  font-size: 36px;
  font-weight: 600;
  margin: auto;
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
}
.dropdownmenu-input-container{
  display: none;
  flex-wrap: wrap;
  animation-name: fade-in;
  animation-duration: 1s;
}
.extra-details-input {
  width: 85%;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
#editForm > p:before {
  content: attr(type);
  display: block;
  margin: 14px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

#save {
  margin: 10px;
  float: right;
}
#cancel {
  margin: 10px;
  float: left;
  border: rgb(255, 100, 100) 2px double;
  background-color: rgb(255, 130, 130);
}

#deleteNode {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  border: 2px solid#ff4242;
  background: 0;
  color: #ec5757;
  cursor: pointer;
  transition: all 0.3s;
}

#deleteNode:hover,
#cancel:hover {
  background: #ff7474;
  color: white;
}

/* delete confirmation menu */

#deleteButtonContainer {
  display: flex;
  flex-wrap: nowrap;
}

#deleteButtonContainer > * {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#deleteConfirmMenu {
  align-content: center;
  font-size: 24px;
}
#deleteConfirmMenu > * {
  text-align: center;
  width: 100%;
}

/* relationship selection */

.radio-toggles {
  align-items: center;
  background: #b8e8ff;
  border: 1px solid lightgrey;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 400px;
  overflow: hidden;
  padding: 4px;
  position: relative;
}

.partner-radio-label {
  width: 50%;
  text-align: center;
}

.slide-item {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 9999px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  height: calc(100% - 8px);
  left: 4px;
  position: absolute;
  width: 50%;
  transition: left 0.4s;
}

input[type="radio"] {
  left: 4px;
  position: absolute;
  z-index: -1;
}

#option-1:checked ~ .slide-item {
  left: 4px;
}
#option-2:checked ~ .slide-item {
  left: calc(50% - 4px);
}

#create-option-1:checked ~ .slide-item-2 {
  left: 4px;
}
#create-option-2:checked ~ .slide-item-2 {
  left: 165px;
}

.edit-container {
  top: 10px;
  left: 500px;
  flex-direction: column;

  background: #e6e6e6;
  border-radius: 5px;
  padding: 20px 30px;
}

.form-header {
  font-size: 18px;
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  border-bottom: 3px solid #78788c;
}

.extra-details-label {
  text-align: left;
  width: 100%;
  padding: 10px 0px;
  pointer-events: none;
}

.description-input {
  font-size: 14px;
  min-height: 500px;
  flex-grow: 1.5;
}

.maidenname-input {
  display: none;
}

.edit-button {
  padding: 8px 12px;
  margin: 10px;
  transition: all 0.3s;
}

.edit-button-container {
  height: 50px;
}

.extranames-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-cards-display {
  display: flex;
  flex-wrap: wrap;
}

.flex-cards-edit {
  user-select: none;

  padding: 0 20px;
  margin: 5px;
  height: 25px;
  border: black 2px solid;
  transition: all 0.5s;
}

.flex-cards-edit:hover {
  cursor: pointer;

  border-color: red;
  transition: all 0.3s;
}

/* Responsive */

@media screen and (max-width: 576px) {
  .form {
    left: 5vw;
  }
}
