.image-editor-container {
  position: absolute;
  left: calc(50vw - 175px);
  z-index: 6;
  height: auto;
  width: 350px;
  background-color: white;
}

.image-editor-title {
  text-align: center;
}

.image-editor {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 50%;
  width: auto;
  margin: 10px;

  place-items: center;
}

.image-editor-top{
  display: flex;
  flex-wrap: wrap;
}

.image-editor-title{
  width: 100%;
}

.image-editor-button{
  width: 100px;
  margin: 0 auto;
}

#image-editor-save{
  margin-left: 10px;
}

#image-editor-cancel{
  margin-right: 10px;
}

.ReactCrop__image {
  max-height: 50vh;
}
