@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

.asidecontainer {
  display: flex;
  align-items: center;
  color: white;
}

nav {
  height: 3rem;
  display: flex;
  background-color: #FF221F;
  height: 80px;
  width: 100%;
  position: relative;
  z-index: 3;
}


.nav-ul {
  display: flex;
  margin: 0;
  height: 100%;

  list-style-type: none;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  user-select: none;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-bottom: 2px solid #FF221F;
  margin: 0 50px;

  color: white;
  transition: all 0.5s;
}

.nav-link:hover{
  border-bottom: 2px solid #fff200;
  transition: all 0.3s;
}

.active{
  border-bottom: 2px solid #ff8800;
}

.nav-logo {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.7rem;
  color: white;
  margin: 10px;
}

i {
  visibility: hidden;
  transition: transform 0.2s ease-in-out;
}

header {
  margin-top: 7em;
  display: flex;
  flex-direction: column;
}

header > h1 {
  font-size: 3em;
  color: black;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .fa-bars {
    margin: 0 1em;
    visibility: visible;
    cursor: pointer;
    user-select: none;
  }

  .fa-times-circle {
    visibility: visible;
    position: absolute;
    top: 1.3rem;
    left: 40vw;
    cursor: pointer;
    user-select: none;
  }

  .nav-ul {
    transition: all 0.2s;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 4em;
    background-color: rgba(0, 0, 0, 0.692);
    width: 50vw;
    height: calc(100vh - 3rem);
    margin-left: -75vw;
  }

  .nav-ul li {
    padding: 1rem 1rem;
  }

  .nav-ul li:hover {
    background-color: rgb(51, 51, 51);
    transition: all 0.3s;
  }

  .visible {
    margin-left: 0;
  }
}
