.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  width: 500px;
  top: 20vh;
  left: calc(50vw - 250px);
  background: #fff;
  border-radius: 3px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.273));
  padding: 35px;

  animation-name: fade-in;
  animation-duration: 1s;
}

.landing-title {
  text-align: center;
  user-select: none;
  margin: 0 20px 40px 20px;
}

.landing-title:hover {
  cursor: pointer;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
}

.landing-button {
  margin: 0 auto 20px auto !important;
  width: 40% !important;
}

.landing-guest {
  display: block;
  margin: 0 auto;
  width: 90% !important;
}

.fake-hyperlink {
  color: #0056b3;
}

.fake-hyperlink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.no-margin {
  margin: 0;
}

.hidden {
  display: none !important;
}

.reset-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#form-login,
#form-register {
  height: 100%;
  overflow: hidden;

  animation-name: fade-in;
  animation-duration: 1s;
  transition: 0.5s ease-out;
}
