@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  font-family: Didact Gothic;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.content-container {
  margin-top: 15vh;

  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.header {
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2px;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
}

.landing-title{
  user-select: none;
  margin: 0 20px 40px 20px;
  font-size: 4rem;
}

.landing-title:hover{
  cursor: pointer;
}

.landing-buttons{
  display: flex;
  flex-direction: row;
}

.landing-button{
  margin: 0 auto 20px auto !important;
  width: 40% !important;
}

.landing-guest{
  display: block;
  margin: 0 auto;
  width: 90% !important;
}

.fake-hyperlink{
  color: #0056B3;
}

.fake-hyperlink:hover{
  cursor: pointer;
  text-decoration: underline;
}

.no-margin{
  margin:0;
}

.hidden{
  display: none !important;
}