@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  position: absolute;
  width: 1800px;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("BG-02.jpg");
}
.Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  text-align: center;
}
.header h1 {
  font-family: Didact Gothic;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  padding: 0 20px 8px;
}
.header p {
  font-family: Didact Gothic;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  padding: 10px 15px;
}
#landingButton{
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: black;
  background-color: #fff200;
  padding: 20px 30px;
  margin: 20px 5px 0;
  border: none;
  cursor: pointer;
}

#landingButton:hover{
  background-color: black;
  color: #fff200;
  transition: all 0.3s;
}
