@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.content-container {
  margin-top: 15vh;

  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.header {
  margin: 0 auto;
  text-align: center;
  background-color: #ffeece;
  padding: 30px;
  border-radius: 2px;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
}

.header h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  padding: 0 20px 8px;
  margin: 10px;
  text-decoration: underline red;
  user-select: none;
}
.header p {
  font-family: Didact Gothic;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  padding: 10px 15px;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
  user-select: none;
}
#landingButton {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: white;
  background-color: red;
  padding: 10px 20px;
  margin: 20px 5px 0;
  border: none;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
}

.landing-header {
  display: flex;
  flex-direction: row;
}

#landingButton:hover {
  background-color: black;
  color: #fff200;
  transition: all 0.3s;
}

.image-container {
  position: fixed;
  display: flex;
  flex-direction: column;

  height: 80vh;
  width: 100%;
  overflow: hidden;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
}
.image-container > img {
  margin: 0 auto;
  max-height: 1500px;
  transform: translateY(-350px);
  user-select: none;
}

.about-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;

  margin: 0 10px 0 10px;
  padding: 20px;
  height: 50vh;
  background-color: #ffeece;
  border-radius: 0 5px;

  filter: drop-shadow(-5px 0px 5px rgba(65, 65, 65, 0.322));
}

.about-section > * {
  margin: 0 auto;
  user-select: none;
}

.about-header {
  display: block;
  margin: 5vh auto 0 10px;
  width: 150px;
  padding: 20px;
  border-radius: 5px 5px 0 0;

  background-color: white;
  text-align: center;
}

.stat-card {
  height: 200px;
  width: 300px;

  border-radius: 5px;
  border: 2px solid black;
}

.edit-history {
  grid-row: 1/3;
  grid-column: 1/2;
  max-width: 60vw;

  padding: 30px;
}

.users {
  grid-row: 1/2;
  grid-column: 2/3;
}

.members {
  grid-row: 2/3;
  grid-column: 2/3;
}
