@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.content-container {
  margin-top: 15vh;

  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.header {
  margin: 0 auto;
  text-align: center;
  background-color: #ffeece;
  padding: 30px;
  border-radius: 2px;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
}

.header h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  padding: 0 20px 8px;
  margin: 10px;
  text-decoration: underline red;
  user-select: none;
}
.header p {
  font-family: Didact Gothic;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  padding: 10px 15px;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
  user-select: none;
}
#landingButton {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  color: white;
  background-color: red;
  padding: 10px 20px;
  margin: 20px 5px 0;
  border: none;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
}

.landing-header {
  display: flex;
  flex-direction: row;
}

#landingButton:hover {
  background-color: black;
  color: #fff200;
  transition: all 0.3s;
}

.about-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

  margin: 0 10px 0 10px;
  padding: 20px;
  background-color: #ffeece;
  border-radius: 0 5px;

  filter: drop-shadow(-5px 0px 5px rgba(65, 65, 65, 0.322));
}

.about-section > * {
  margin: 0 auto;
  user-select: none;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  padding: 20px;
}

.stats-container > * {
  margin: 10px auto;
}

.about-header {
  display: block;
  margin: 25vh auto 0 10px;
  width: 150px;
  padding: 20px;
  border-radius: 5px 5px 0 0;

  background-color: white;
  text-align: center;
}

.stat-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  min-width: 300px;

  border-radius: 5px;
  border: 2px solid black;
}

.stat-card > * {
  margin: 20px auto;
  padding: 10px;
}

.edit-history {
  transition: all 0.5s;
}

@media only screen and (max-width: 500px) {
  .edit-history {
    margin: 0;
  }
}

.history-container {
  min-width: 250px;
  width: 60vw;
  max-height: 650px;

  overflow: auto;
  border-radius: 4px;
  padding: 20px;
  margin: 10px 0;
  border: 2px black solid;
}

.history-edits {
  color: black;
  border-left: grey 2px solid;
}

.history-edits:hover {
  pointer-events: none;
}

.edit-freq-display {
  font-size: 30px;
}

.page-container {
  display: flex;
  gap: 10px;
}

.page-number {
  padding: 10px;
}

.center {
  text-align: center;
}

.author-input {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.reset-button {
  font-size: 14px;
  user-select: none;
  margin: 30px 0 0px 0;
  cursor: pointer;
}
