#card-container {
  position: absolute;
  display: none;
  right: 10px;
  transition: all 0.5s;
}

.card-main {
  max-height: 80vh;
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 22px;
  color: #000;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));

  margin: 10px auto;
  transition: all 0.5s;
}

.card-nav {
  position: fixed;
  z-index: 500;
  width: 340px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 10px;
}

.card-nav > *{
  margin: 0px 5px;
  background-color: white;
}

.top-card {
  width: 100%;
}

.top-card img {
  max-height: 350px;
}

.top-card .menu-icon {
  position: relative;
  width: 22px;
  top: 13.7em;
  left: 1.1em;
  cursor: pointer;
}

.top-card .menu-icon .menu {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000;
  margin-bottom: 6px;
  opacity: 0.5;
  transition: 0.4s;
}

.top-card .menu-icon .item1 {
  left: -5px;
}

.top-card .menu-icon .item2 {
  left: 5px;
}

.top-card .menu-icon:hover .menu {
  left: 0;
  border-radius: 1px;
}

.top-card .name {
  width: 50%;
  height: 0;
  float: right;
}

.top-card .name p {
  position: relative;
  font-size: 50px;
  font-weight: 800;
  color: #000;
  opacity: 0.5;
  bottom: 140px;
  line-height: 50px;
  text-align: center;
}

.top-card .name span {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  text-align: left;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin: 12px 0;
  border-bottom: 2px solid #78788c;
}

h2 {
  font-size: 18px;
  margin-bottom: 0;
}

section > p {
  margin-top: 0px;
}

.middle-card,
footer {
  margin: 5px 25px;
}

.middle-card {
  text-align: justify;
}

#card-expand {
  font-size: 24px;
  padding: 0px 7.5px;
}

.fblink {
  color: black;
  font-weight: bold;
  border: 2px solid black;
  padding: 5px;
  transition: all 0.4s;
}

.fblink:hover {
  background-color: black;
  color: #fff;
  transition: all 0.4s;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-details {
  min-width: 340px;
}

.card-description{
  max-width: 150vh;
}