#card-container {
  position: absolute;
  height: 90vh;
  display: none;
  margin: 10px 0 0 10px;
  transition: all 0.5s;
  overflow-x: hidden;
}

.card-main {
  position: relative;
  max-height: 95vh;
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 22px;
  color: #000;
  border-radius: 15px 0 0 0;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));

  z-index: 3;
  margin: 10px auto;
  transition: all 0.5s;
}

.card-nav {
  position: absolute;
  margin: 0 0 0 0;
  z-index: 4;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 15px 0 0 0;

  background-color: #FF221F;
}

.card-nav > * {
  background-color: #FF221F;
  border: none;
  outline: none;
  color: white;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 24px;
}

.card-nav > *:hover {
  background-color: #8d0200;
}

#card-expand {
  font-size: 30px;
  padding: 5px 15px;
  flex-grow: 2;
}

#card-close {
  border-radius: 15px 0 0 0;
}

.card-edit-icon {
  enable-background: new 0 0 50 50;
  height: 30px;
  width: 30px;
}

.top-card {
  width: 100%;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  max-width: 100%;
  padding-top: 35px;
}

.image-container>*{
  margin: 0 auto;
}

.image {
  width: auto;
  max-width: 350px;
  height: auto;
  display: block;
  margin: 5px auto;

  transition: all 0.5s;
}

.image-single-container {
  display: flex;
  align-items: center;
}

.image-single-container:hover .image-edit-menu {
  opacity: 1;
}

.image-edit-menu {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(5vw, -20px);
  -ms-transform: translate(5vw, -20px);
  text-align: center;
}

.image-menu {
  pointer-events: auto;
  user-select: none;
  position: absolute;
  width: 50px;
  height: 20px;
  color: black;
  border: 2px solid black;
  padding: 10px;
  transition: 0.5s ease;
}

.image-menu:hover {
  cursor: pointer;
  background-color: black;
  border: 2px solid white;
  color: white;
  transition: 0.5s ease;
}

.image-delete {
  transform: translate(10vh, 0);
}

.image:hover {
  filter: opacity(0.5);
  transition: all 0.3s;
}

.top-card .name {
  width: 50%;
  height: 0;
  float: right;
}

.top-card .name p {
  position: relative;
  font-size: 50px;
  font-weight: 800;
  color: #000;
  opacity: 0.5;
  bottom: 140px;
  line-height: 50px;
  text-align: center;
}

.top-card .name span {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.card-subtitle {
  text-align: left;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin: 12px 0;
  border-bottom: 2px solid #78788c;
}

h2 {
  font-size: 18px;
  margin-bottom: 0;
}

section > p {
  margin-top: 0px;
}

.middle-card,
footer {
  margin: 5px 25px;
}

.middle-card {
  text-align: justify;
}

.fblink {
  color: black;
  font-weight: bold;
  border: 2px solid black;
  padding: 5px;
  transition: all 0.4s;
}

.fblink:hover {
  background-color: black;
  color: #fff;
  transition: all 0.4s;
}

.card-content {
  display: flex;
  flex-flow: row wrap;
}

.card-details {
  min-width: 300px;
}

.card-description {
  width: 350px;
  max-width: 160vh;
  flex-grow: 1;
}

.related-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-related {
  margin: 5px 10px;
  min-width: 250px;

  padding: 5px 10px;
  border: 1px black solid;
  border-radius: 5px;
}

.card-related > p {
  outline: black solid 1px;
  width: fit-content;
  user-select: none;
  background-color: rgb(230, 230, 230);
  color: black;

  padding: 5px 20px;
  transition: all 0.5s;
}

.card-related > p:hover {
  cursor: pointer;
  outline-offset: -2px;

  transition: all 0.3s;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  height: 100px;
}

.file-input-button {
  border: 1px solid grey;
  transition: all 0.6s;
}

.file-input-button:hover {
  background-color: black;
  color: white;
  transition: all 0.3s;
}

.file-input {
  height: 5px;
  visibility: hidden;
  margin: 0 auto;
}

.file-submit{
  padding: 5px;
  display: none;
}

.progress-bar{
  width: auto;
  height: 10px;
  background-color: green;
  transition: all 1s;
}