#card-container {
  display: none;
  position: absolute;
  top: 5vh;
  right: 10px;

  width: 340px;
  overflow-y: auto;
  background-color: #f1f1f1;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border-radius: 7px;
  filter: drop-shadow(10px 10px 10px rgba(43, 43, 43, 0.473));

  margin: 50px auto;

  animation-name: rotate;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#card-container::-webkit-scrollbar {
  display: none;
}

.top-card {
  width: 100%;
  /* height: 200px; */
}

.top-card img {
  width: 100%;
}

.top-card .menu-icon {
  position: relative;
  width: 22px;
  top: 13.7em;
  left: 1.1em;
  cursor: pointer;
}

.top-card .menu-icon .menu {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000;
  margin-bottom: 6px;
  opacity: 0.5;
  transition: 0.4s;
}

.top-card .menu-icon .item1 {
  left: -5px;
}

.top-card .menu-icon .item2 {
  left: 5px;
}

.top-card .menu-icon:hover .menu {
  left: 0;
  border-radius: 1px;
}

.top-card .name {
  width: 50%;
  height: 0;
  float: right;
}

.top-card .name p {
  position: relative;
  font-size: 50px;
  font-weight: 800;
  color: #000;
  opacity: 0.5;
  bottom: 140px;
  line-height: 50px;
  text-align: center;
}

.top-card .name span {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  text-align: left;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin: 12px 0;
  border-bottom: 2px solid #54bcc9;
}

h2 {
  font-size: 18px;
  margin-bottom: 0;
}

section > p {
  margin-top: 0px;
}

.middle-card,
footer {
  margin: 5px 25px;
}

.middle-card {
  text-align: justify;
}

#card-edit {
  position: absolute;
  right: 50px;
  top: 10px;
}

#card-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
