.Resetpassword-container {
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.Resetpassword-Title {
  margin-top: 30px;
}

.Resetpassword-subtitle {
  margin-top: 30px;
}

.Resetpassword-label {
  margin: 10px 0 20px 0;
}

.Resetpassword-input {
  height: 30px;
  width: 200px;
}

.Resetpassword-button {
  margin: 30px auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #348edb;
  color: white;
  font-size: 18px;
}
