@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(#f7c569,#FED381);
}
/* #FED381 #EC7771 */

.container {
  position: absolute;
  margin: 2vh 5vh 5vh 35vh;
  padding: 2.5vh;
  width: 1000px;
  background-color: #fff;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 5px rgba(65, 65, 65, 0.322));
  max-height: 600px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}

/*                                     */
/*      top section of container       */
/*                                     */

.container-top {
  display: flex;
  width: 1000px;
}

.left {
  padding: 20px;
  flex-grow: 1;
}

.right {
  display: flex;
  flex-direction: column-reverse;
  width: 300px;
  margin-right: 10px;
}

#createNew {
  margin-top: 1rem;
  font-size: 0.95rem;
  width: 200px;
  background-color: #111;
  color: #fff;
  padding: 0.6rem 1rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #111;
  margin-top: 1rem;
  font-size: 0.95rem;
  transition: all 0.6s;
  font-weight: 600;
}

#createNew:hover {
  background-color: white;
  color: #111;
  cursor: pointer;
  transition: all 0.4s;
}

/*                             */
/*          Table CSS          */
/*                             */

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  margin: 5px;
}
td,
th {
  text-align: center;
  padding: 8px;
}
tr {
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ddd;
  transition: all 0.6s;
  user-select: none;
}

tfoot td:hover {
  cursor: default;
}

table th:hover {
  background-color: rgb(168, 168, 168);
  transition: all 0.4s;
}
