@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

@keyframes edit-menu-button {
  from {
    transform: translate(150px, 0);
  }
}

/* main svg container */

#Tree {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

svg {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* Tree card display */

.node,
.partnernode {
  width: 600px;
  height: 400px;

  filter: drop-shadow(15px 15px 10px rgba(141, 141, 141, 0.322));
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
}

.node>*{
  user-select: none;
  pointer-events: none;
}

.node:hover,
.partnernode:hover {
  background-color: #eeeeee;

  transition: all 0.3s;
  cursor: pointer;
}

.partner {
  width: 600px;
  height: 180px;
  padding: 8px 12px;
  fill: white;
  transition: all 0.3s;
}

.partner-container {
  fill: #ffdfa4;
  width: 800px;
  height: 450px;
  padding: 8px 12px;
  transition: all 0.3s;
}

.pattern {
  display: block;
  height: 100px;
  pointer-events: none;
  stroke: none;
}

.profile-picture {
  border-radius: 150px;
  height: 150px;
  position: absolute;
  transform: translate(225px, -75px);
}

.tree-card-main {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.tree-card-birth {
  height: 75px;
  width: 300px;
  padding-right: 75px;
  text-align: center;

  font-size: 32px;
}

.tree-card-age {
  padding: 0 0 0 100px;
}

.tree-card-name {
  height: 175px;
  width: 600px;
  padding: 20px 50px;
  line-height: 50px;
  margin-top: 5px;

  font-size: 52px;
}

.tree-card-generation {
  font-size: 42px;
}

.tree-card-name > p {
  height: 50px;
  margin: 0;
  text-align: center;
}

.tree-card-footer {
  height: 50px;
  width: 600px;
  font-size: 30px;

  margin-right: 10px;
  text-align: right;
}

.level-0 {
  display: none;
}

.hide {
  display: none;
}

.link {
  max-width: 150px;
  fill: none;
  stroke: #cd211d;
  stroke-width: 2.5px;
}

/* Edit Menu */

.edit-menu-container {
  pointer-events: auto;
}

.edit-menu {
  background-color: white;
  display: flex;
  flex-direction: column;

  height: 400px;
  width: 600px;

  padding-top: 100px;

  transform: translate(400px, 400px);
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
}

.edit-menu > * {
  font-size: 52px;
  width: auto;
}

.edit-menu-nav {
  display: flex;
  padding: 50px 20px 0 20px;
  gap: 25px;
  height: 150px;
}

.edit-menu-details {
  width: 300px;
  height: 100px;
  margin: 20px;
  padding: 10px;

  transform: translate(375px, -100px);

  margin-left: 275px;
}

.edit-menu > input {
  margin: 0 100px;
  padding: 10px;
  text-align: center;
}

.edit-menu-nav > button {
  margin: 20px 0;
  flex-grow: 1;
  font-size: 50px;
  padding: 5px 10px;
  height: 100px;

  border: 1px solid black;
}

.edit-menu-button {
  position: absolute;
  width: 300px;
  height: 100px;
}

.sibling,
.child,
.parent,
.delete-parent,
.partner,
.edit-menu-details {
  animation-name: edit-menu-button;
  animation-duration: 0.5s;
}

.sibling {
  transform: translate(650px, 50px);
}

.child {
  transform: translate(150px, 350px);
}

.parent,
.delete-parent {
  width: 400px;

  transform: translate(100px, -250px);
}

.delete-parent {
  width: 400px;

  transform: translate(100px, -400px);
}

.partner {
  transform: translate(-350px, 50px);
}

.cancel {
  height: 200px;
  margin-bottom: 20px;
  border: none;
}

/*                 */
/*    datalist     */
/*                 */

.datalist {
  position: absolute;
  display: flex;
  right: 10px;
  top: 20px;
  z-index: 3;
  transition: all 0.5s;
}
.input {
  padding: 10px;
  width: 225px;
}
.datalist-ul {
  position: absolute;
  right: 10px;
  top:65px;
  z-index: 3;

  overflow-x: auto;
  font-size: 20px;
  list-style: none;
  width: 348px;
  max-height: 300px;
}

.datalist-ul > li {
  border:1px solid black;
  background-color: white;
  border-bottom: 0.25px solid grey;
  padding: 2.5px 5px;
  user-select: none;
}

.datalist-ul > li:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}

#datalistbutton {
  letter-spacing: 0.15rem;
  color: white;
  background-color: #23272B;
  cursor: pointer;
  filter: none;

  transition: all 0.3s;
}

#datalistbutton:hover {
  background-color: black;
  color: #fff200;
  transition: all 0.3s;
}

.tree-create-button {
  position: absolute;
  top: 90px;
  right: 10px;
  z-index: 2;
  border-radius: 25px;

  padding: 10px   ;
}

.changeview-button {
  position: absolute;
  top: 90px;
  right: 70px;
  z-index: 2;
  width: 150px;

  border-radius: 25px;
  padding: 10px 20px;

  cursor: pointer;
  transition: all 0.3s;
}
