/* //main svg container */
#Tree {
  width: auto;
  margin: 0;
}

svg {
  margin: 0;
}

.node,
.partnernode {
  width: 150px;
  height: 200px;
  padding: 8px 12px;
  fill: #fff;

  font-family: "Montserrat", sans-serif;
  filter: drop-shadow(10px 10px 10px rgb(138, 138, 138));

  transition: all 0.3s;
}

.node:hover,
.partnernode:hover {
  fill: rgb(231, 231, 231);
  transition: all 0.3s;
  cursor: pointer;
}

.link {
  max-width: 150px;
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
  filter: drop-shadow(10px 10px 4px rgb(138, 138, 138));
}
text {
  text-anchor: middle;
  user-select: none;
  pointer-events: none;
}

.level-0 {
  stroke: none;
  fill: none;
}

.level-0 > text {
  color: #fff;
  user-select: none;
  pointer-events: none;
}

.hide {
  display: none;
}

/*                 */
/*    datalist     */
/*                 */

.datalist {
  display: flex;
  margin: 10px;
  transition: all 0.5s;
}
.datalist-input {
  padding: 10px;
}
.datalist-ul {
  overflow-x: auto;
  font-size: 20px;
}