@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

/* //main svg container */
#Tree {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

svg {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.node,
.partnernode {
  width: 600px;
  height: 400px;
  padding: 8px 12px;
  fill: #fff;
  stroke: white;
  stroke-dasharray: 0, 0;
  transition: all 0.3s;
}

.partner {
  width: 600px;
  height: 180px;
  padding: 8px 12px;
  fill: white;
  transition: all 0.3s;
}

.partner-container {
  width: 800px;
  height: 450px;
  padding: 8px 12px;
  transition: all 0.3s;
}

.edit-menu {
  background-color: white;
  display: flex;
  flex-direction: column;

  padding: 50px 0px;
  height: 400px;
  width: 600px;
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
}

.edit-menu > * {
  font-size: 52px;
  width: auto;
}

.edit-menu-nav {
  display: flex;
  padding: 20px;
  gap: 25px;
  height: 150px;
}

.edit-menu > input {
  margin: 0 100px;
  padding: 10px;
}

.edit-menu-nav > button {
  margin: 20px 0;
  flex-grow: 1;
  font-size: 36px;
  border: 2px solid black;
}

circle {
  fill: none;
  stroke: black;
}

.profile-container {
  pointer-events: none;
  height: 150px;
  width: 150px;
}

.profile-picture {
  border-radius: 150px;
  height: 150px;
}

.pattern {
  height: 100px;
  pointer-events: none;
  stroke: none;
}

.node:hover,
.partnernode:hover {
  fill: #eeeeee;
  stroke: black;
  stroke-dasharray: 0, 0, 100, 0;

  transition: all 0.3s;
  cursor: pointer;
}

.name-field {
  font-size: 38px;
}

.profession {
  text-anchor: end;
}

.link {
  max-width: 150px;
  fill: none;
  stroke: #cd211d;
  stroke-width: 2.5px;
}
text {
  text-anchor: middle;
  user-select: none;
  pointer-events: none;
  font-size: 30px;
}

.level-0 {
  display: none;
}

.level-0 > text {
  user-select: none;
  pointer-events: none;
}

.hide {
  display: none;
}

/*                 */
/*    datalist     */
/*                 */

.datalist {
  position: absolute;
  display: flex;
  right: 10px;
  top: 90px;
  z-index: 3;
  transition: all 0.5s;
}
.input {
  padding: 10px;
  width: 175px;
}
.datalist-ul {
  position: absolute;
  right: 10px;
  margin-top: 50px;

  overflow-x: auto;
  font-size: 20px;
  list-style: none;
  width: 245px;
  max-height: 300px;
}

.datalist-ul > li {
  background-color: white;
  border-bottom: 0.25px solid grey;
  padding: 2.5px 5px;
  user-select: none;
}

.datalist-ul > li:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}

#datalistbutton {
  letter-spacing: 0.15rem;
  color: black;
  background-color: #fff200;
  cursor: pointer;
  filter: none;

  transition: all 0.3s;
}

#datalistbutton:hover {
  background-color: black;
  color: #fff200;
  transition: all 0.3s;
}

.create-button {
  position: absolute;
  top: 21px;
  right: 120px;
  z-index: 3;

  background-color: #fff200;
  padding: 10px 20px;
}

.changeview-button {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 3;
  width: 100px;

  background-color: #fff200;
  padding: 10px 20px;
  font-size: 16px;

  cursor: pointer;
  transition: all 0.3s;
}

button:active {
  background-color: #000;
  color: #fff200;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
