@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

/* //main svg container */
#Tree {
  width: auto;
  height: 100vh;
  margin: 0;
}

svg {
  margin: 0;
}



.node,
.partnernode {
  width: 350px;
  height: 180px;
  padding: 8px 12px;
  fill: #fff;
  transition: all 0.3s;

}

.partner-container {
  width: 800px;
  height: 180px;
  padding: 8px 12px;
  fill: white;
  transition: all 0.3s;
}

.circle {
  fill: white;
  stroke-width: 1px;
  stroke: #446491;
  pointer-events: none;

  transition: all 0.3s;
}

.shadow {
  fill: rgba(65, 65, 65, 0.322);
}

.node:hover,
.partnernode:hover {
  fill: #eeeeee;

  transition: all 0.3s;
  cursor: pointer;
}

.link {
  max-width: 150px;
  fill: none;
  stroke: #cd211d;
  stroke-width: 2.5px;
}
text {
  text-anchor: middle;
  user-select: none;
  pointer-events: none;
  font-size: 20px;
}

.level-0 {
  stroke: none;
  fill: none;
}

.level-0 > text {
  user-select: none;
  pointer-events: none;
}

.hide {
  display: none;
}

/*                 */
/*    datalist     */
/*                 */

.datalist {
  position: absolute;
  display: flex;
  margin: 10px;
  transition: all 0.5s;
}
.datalist-input {
  padding: 10px;
}
.datalist-ul {
  overflow-x: auto;
  font-size: 20px;
}
#datalistbutton {
  letter-spacing: 0.15rem;
  color: black;
  background-color: #fff200;
  cursor: pointer;
}

#datalistbutton:hover {
  background-color: black;
  color: #fff200;
  font-weight: bold;
  transition: all 0.3s;
}

