@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

@keyframes edit-menu-button {
  from {
    transform: translate(150px, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* main svg container */

#Tree {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

svg {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* Tree card display */

.partner-container {
  fill: #eff5f8;
  width: 800px;
  height: 300px;
  padding: 8px 12px;
  transition: all 0.3s;
}

.tree-card > * {
  user-select: none;
  pointer-events: none;
}

.tree-card {
  display: flex;
  flex-direction: row;

  padding-left: 25px;
  width: 600px;
  height: 300px;
  border-radius: 25px;

  filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.219));
  background-color: #fff;
  transition: all 0.5s;
}

.tree-card:hover {
  background-color: #ff756e;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.tree-card-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.tree-card-profile {
  margin: 45px auto 25px auto;

  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.tree-card-section > p {
  text-align: center;
}

.tree-card-gen {
  font-size: 32px;
  padding-top: 70px;
  height: 120px;
  margin: 0;
}

.tree-card-name {
  font-size: 40px;
}

.tree-card-birthdate {
  font-size: 36px;
}

.level-0 {
  display: none;
}

.hide {
  display: none;
}

.link {
  max-width: 150px;
  fill: none;
  stroke: #ff756e;
  stroke-width: 2.5px;
}

/* Edit Menu */

.edit-menu-container {
  pointer-events: auto;
}

.edit-menu {
  background-color: white;
  display: flex;
  flex-direction: column;

  height: 400px;
  width: 600px;

  padding-top: 100px;

  transform: translate(400px, 400px);
  filter: drop-shadow(5px 5px 5px rgba(65, 65, 65, 0.322));
}

.edit-menu > * {
  font-size: 52px;
  width: auto;
}

.edit-menu-nav {
  display: flex;
  padding: 50px 20px 0 20px;
  gap: 25px;
  height: 150px;
}

.edit-menu-details {
  width: 300px;
  height: 100px;
  margin: 20px;
  padding: 10px;

  transform: translate(375px, -100px);

  margin-left: 275px;
}

.edit-menu > input {
  margin: 0 100px;
  padding: 10px;
  text-align: center;
}

.edit-menu-nav > button {
  margin: 20px 0;
  flex-grow: 1;
  font-size: 50px;
  padding: 5px 10px;
  height: 100px;

  border: 1px solid black;
}

.edit-menu-button {
  position: absolute;
  width: 300px;
  height: 100px;
}

.sibling,
.child,
.parent,
.delete-parent,
.partner,
.edit-menu-details {
  animation-name: edit-menu-button;
  animation-duration: 0.5s;
}

.sibling {
  transform: translate(650px, 50px);
}

.child {
  transform: translate(150px, 350px);
}

.parent,
.delete-parent {
  width: 400px;

  transform: translate(100px, -250px);
}

.delete-parent {
  width: 400px;

  transform: translate(100px, -400px);
}

.partner {
  transform: translate(-350px, 50px);
}

.cancel {
  height: 200px;
  margin-bottom: 20px;
  border: none;
}

/*                 */
/*    datalist     */
/*                 */

.datalist {
  position: absolute;
  display: flex;

  margin: 10px;

  z-index: 3;
  transition: all 0.5s;
}
.input {
  padding: 10px;
  width: 275px;
}
.datalist-ul {
  position: absolute;
  transform: translate(-40px, 50px);
  z-index: 3;

  overflow-x: auto;
  font-size: 20px;
  list-style: none;
  width: 332.5px;
  max-height: 300px;
}

.datalist-ul > li {
  border: 1px solid rgb(192, 190, 190);
  background-color: white;
  border-bottom: 0.25px solid grey;
  padding: 2.5px 5px;
  user-select: none;
}

.datalist-ul > li:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}

#datalistbutton {
  letter-spacing: 0.05rem;
  color: white;
  background-color: #23272b;
  border: rgba(0, 0, 0, 0) 1px solid;

  cursor: pointer;
  padding: 5px 10px;

  transition: all 0.3s;
}

#datalistbutton:hover {
  background-color: #000000;
  color: white;
  border-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.tree-create-button {
  position: absolute;
  top: 0;
  right: 150px;
  z-index: 3;
  height: 50px;
  width: 50px;

  background-color: inherit;
  border: rgba(0, 0, 0, 0.438) 1px solid;
  padding: 10px;
  transition: all 0.3s;
}

.changeview-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 150px;
  height: 50px;

  background-color: inherit;
  border: rgba(0, 0, 0, 0.438) 1px solid;
  padding: 10px 20px;

  cursor: pointer;
  transition: all 0.3s;
}

.tree-create-button:hover,
.changeview-button:hover {
  background-color: #0188cc;
}

.tree-welcome {
  position: absolute;
  width: 500px;
  max-width: 90vw;
  top: 20vh;
  left: calc(50vw - 250px);
  z-index: 1000;
  background: #fff;
  border-radius: 3px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.226));
  padding: 35px;

  animation-name: fade-in;
  animation-duration: 1s;
}

.tree-welcome-title {
  text-align: center;
}

.tree-welcome-search-container {
  height: 75px;
}

.tree-welcome-modal {
  position: absolute;
  z-index: -3;
  top: -20vh;
  left: -50vw;
  width: 200vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.041);
}

@media screen and (max-width: 576px) {
  .tree-welcome {
    left: 20px;
    max-width: calc(100vw - 40px);
  }
  .input {
    width: 100%;
  }
}
