/* //main svg container */
#Tree {
  width: auto;
  margin: 0;
}

svg {
  margin: 0;
}

.node,
.partnernode {
  width: 150px;
  height: 200px;
  padding: 8px 12px;
  fill:rgb(255, 255, 255);
  stroke: black;
  stroke-width: 1px;

  font-family: "Montserrat", sans-serif;

  transition: all 0.3s;
}

.node:hover,
.partnernode:hover {
  fill: #F1F1F1;

  transition: all 0.3s;
  cursor: pointer;
}

.link {
  max-width: 150px;
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
text {
  text-anchor: middle;
  user-select: none;
  pointer-events: none;
}

.level-0 {
  stroke: none;
  fill: none;
}

.level-0 > text {
  user-select: none;
  pointer-events: none;
}

.hide {
  display: none;
}

/*                 */
/*    datalist     */
/*                 */

.datalist {
  position: absolute;
  display: flex;
  margin: 10px;
  transition: all 0.5s;
}
.datalist-input {
  padding: 10px;
}
.datalist-ul {
  overflow-x: auto;
  font-size: 20px;
}
#datalistbutton {
  letter-spacing: 0.15rem;
  color: black;
  background-color: white;
  cursor: pointer;
}

#datalistbutton:hover {
  background-color: #6D7EAD;
  color: white;
  transition: all 0.3s;
}
